.abcd {
    background-color: grey;
    text-align: left;
    top: 54px;
    border: .2px solid #000;
}
.subNav {
     display: block;
     color: black !important; 
     padding-top:10px;
     padding-bottom: 10px;
     border: .2px solid #000; 
}
a:hover {
    color: purple !important;
}